{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
    <!-- Github -->
    {{- if site.Params.github.githubUsername -}}
    <br/>
    <div>Github</div>
    <img src="https://ghchart.rshah.org/{{ site.Params.github.githubUsername }}" alt="Github chart" class="github-chart">
    <!-- <hr> -->
    <!-- <img src="https://github-readme-stats.vercel.app/api?username={{ site.Params.github.githubUsername }}&count_private=true" alt="Github stats" class="github-stats"> -->
    {{- end -}}
</article>
<div>Posts</div>
{{- end -}}
